DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

# Optional variables
# DB_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# AWS access keys
#AWS_DEFAULT_REGION=eu-west-2
#AWS_ACCESS_KEY_ID=secret
#AWS_SECRET_ACCESS_KEY=secret
#AWS_S3_BUCKET=bucketname
#S3_UPLOADS_BASE_URL=https://s3-eu-west-1.amazonaws.com/thebucketname/uploads
