@charset "utf-8";/* CSS Document */

#header {position: relative;z-index: 10; padding: 20px 0; margin-bottom: 30px; background:url(../images/jo-full-header.jpg) top center no-repeat #5db6be; }
#header #title {font-family: sans-serif;font-weight: 400;letter-spacing: -.025em; padding: 0 30px;}
#header #title a {display: inline-block;}
#header #title img{margin-right:15px; border-right: 4px solid #006d81; padding-right:20px; vertical-align: middle; /*max-width: 200px;*/}
#header #title .blogname { font-size: 35px; vertical-align: middle; position: relative; top: -3px; }
#wrapper a:hover, #wrapper a:focus, #footer a:hover, #footer a:focus, #copyright a:hover, #copyright a:focus {/*border-bottom: 1px solid #BBB;*/text-decoration: none;}

#navigation a, #sidebar h2.widgettitle, #footer .footer-column h2 {font-family: sans-serif;font-weight: bold;letter-spacing: -.025em;font-size: 18px;line-height: 1.1818181818;text-transform: none;}
#wrapper a, #footer a, #copyright a {color: #006d81;text-decoration: none; }

#wrapper, #footer, #copyright {position: relative;width: auto;max-width: 1080px;margin: 0 auto;color: #222;background: transparent;font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;font-size: 18px;line-height: 1.4444444444;font-weight: 300;padding: 0;}
#copyright {margin:20px 0;}
#navigation { padding: 10px 30px; margin: 0; overflow: hidden; }
#navigation ul  {margin: 0;padding: 0;}
#navigation ul li, #navigation ul li a  {padding: 0; margin: 0 8px 0 0; color: #000;}
#navigation ul li a { padding: 2px 3px 2px 3px; background:rgb(255,255,255); background: transparent\9; background:rgba(255,255,255,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff); zoom: 1;}
#navigation ul li a:hover {text-decoration: underline;}

.entries li {margin: 6px 0 12px 0; border-bottom: solid 1px #efefef; padding: 0 0 12px 0;}
.entries li a { font-size: 1em; }
.widget, .textwidget, .textwidget li {font-size: 1em; line-height: 1.8em;}
.entries li .date-meta {font-size: .85em; float: none; display: inline-block;}
span.comment-date {font-size: .75em; color: #383838;}

.home #content .post:first-child {
  font-weight: bold;
}
/* Only display avatars for registered users */
.comment .c-grav {display:none;}
.comment.byuser .c-grav {display: block;}

/**
 * Strapline
 */

#navigation {
  clear: both;
}
.strapline {
  clear: both;
  background-color: rgba(255, 255, 255, 0.75);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFffffff,endColorstr=#BFffffff); zoom: 1;
  color: #000;
  padding: 5px 15px 5px 30px;
  font-size: 1.35em;
  float: left;
  margin: 20px 0 50px 0;
}
